<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To Do List</h1>
    <div>
        <form action="/data" method="POST">
            <input type="text" placeholder="New Item" name="newItem">
            <button type="submit">Add Item</button>
        </form>
        
        <div>
            <% for(var i=0;i<items.length;i++) {%>
                <div>
                    <p>
                        <%= items[i] %>
                        <input type="checkbox">
                    </p>
                </div>
            <% } %>    
        </div>        
    </div>
</body>
</html>